<h2>List of expense reports</h2>

<p>
<%= link_to 'New expense report',
	:controller => 'expense_reports', :action => 'new' -%>
</p>

<table>
<tr><th>Created on</th><th>Paid on</th><th colspan="3">&nbsp;</th></tr>
<% for er in @expense_reports %>
<tr class="<%= cycle('dark','light') %>">
<td><%= link_to er.created_on, :action => 'show', :id => er.id %></td>

<% if er.paid_on.nil? %>
<td style="color:red">Unpaid</td>
<% else %>
<td><%= er.paid_on %></td>
<% end %>

<td><%= link_to 'Edit', :action => 'edit', :id => er.id %></td>
</tr>
<% end -%>
</table>
