<%= error_messages_for 'user' %>

<h1>Utilisateur: changement de mot de passe</h3>

<%= form_tag :action => 'change_password' do %>

<p>
<br/>
<label for='user_password'>Mot de passe actuel:</label><br/>
<%= password_field 'user', 'curpass', :size => 20, :value => '' %><br/>
<br/>
</p>

<p>
<label for='user_password'>Nouveau mot de passe:</label><br/>
<%= password_field 'user', 'password', :size => 20, :value=> '' %><br/>

<label for='user_password_confirmation'>Confirmation:</label><br/>
<%= password_field 'user', 'password_confirmation', :size => 20, :value=> '' %><br/>
</p>

<%= submit_tag 'Submit' %>

<% end %>
