<h1>Create user</h1>

<p>Ce formulaire permet de créer un nouvel utilisateur interne.</p>

<%= form_tag :action=> "create_internal" do %>

<%= error_messages_for 'user' %><br/>

<label for="user_name">Username</label><br/>
<%= text_field "user", 'name', :size => 20 %><br/>

<label for="user_password">Password</label><br/>
<%= password_field "user", "password", :size => 20 %><br/>

<label for="user_password_confirmation">Password Confirmation</label><br/>
<%= password_field "user", "password_confirmation", :size => 20 %><br/>

<label for="user_email">Email</label><br/>
<%= text_field "user", "email",  :size => 20 %><br/>

<%= submit_tag "Create" %>

<% end %>
