<h1>Option produit: édition</h1>

<p><b>Nom:</b> <%= @option.name %></h3>
<p><b>Description:</b> <%= @option.description %></h3>

<p><b>Cette option est utilisée par les produits suivants:</b>
<ul>
<% for product in @option.products %>
<li><%= link_to product.name, :controller => 'products',
	:action => 'show', :id => product.id %></li>
<% end %>
</ul>

<%= form_tag :action => 'update', :id => @option do %>

<p><b>Nouveau nom:</b> <%= text_field 'option', 'name', :size => 30 %></p>
<p><b>Nouvelle description:</b> <%= text_field 'option', 'description', :size => 60 %></p>


<div id="edit_values">
<%= render 'edit_values' %>
</div>

<p>&nbsp;</p>
<%= submit_tag 'Mise à jour' %>
<% end %>

<p>
<!-- real code from component add -->
<div id="busy" style="float:right;display:none;"> Busy... </div>

<label for="product_field">Produit sélectionné:</label><br/>
<%= form_tag :action => 'new_value_product', :id => @option.id do %>
	<div id='product_field'></div>
	<%= submit_tag 'Ajouter une ligne produit' -%>
<% end -%>

<br/>

<label for="ssid">Catégories:</label>
<select id="ssid" name="ssid">
<option value="0" selected="selected">&nbsp;</option>
<%= options_from_collection_for_select( @categories, 'id', 'name' ) %>
</select>

<div id="browse_menu2"/>
</p>
