<h1>Panier</h1>

<p>Votre panier contient <%= @items.size %> éléments.</p>

<div id="cartmenu">
<ul>
	<li><%= link_to 'Vider le panier',	:action => 'empty_cart' %></li>
	<li><%= link_to 'Créer un devis',	:action => 'new_quotation' %></li>
	<li><%= link_to 'Créer un bon de commande fournisseur',	:controller => 'supplier_orders', :action => 'new' %></li>
</ul>
</div>

<%= form_tag :action => 'update_cart' do %>

<table class="quotation">
<tr><th>Nom</th><th>Qté</th><th>Prix unitaire</th><th>Montant</th><th/></tr>
<%
for @item in @items
-%>
<tr>
	<td><% product = Product.find(@item.product_id) %><%= h(product.name) %></td>
	<td><input type="text" name="item[<%= @item.product_id %>]" size="2" value="<%= @item.qty %>"/></td>
	<td align="right"><%= fmt_price(@item.price) %></td>
	<td class="grey"><%= fmt_price(@item.price * @item.qty) %></td>
	<td><%= link_to 'Suppression',
		:action => 'remove_items',
		:product_id => @item.product_id %></td>
</tr>
	<% unless @item.options.empty? %>
		<%= render 'show_item_options' -%>
	<% end %>
<% end -%>
<tr>
	<td colspan="3" align="right"><strong>Total: </strong></td>
	<td id="totalcell"><%= fmt_price(@cart.total_price) %></td>
	<td/>
</tr>
</table>

<%= submit_tag 'Mettre à jour' %>

<% end %>

<hr/>
