<h1>Edition composants produit</h1>

<p><b>Nom:</b> <%=h @product.name %></p>
<p><b>Description:</b> <%=h @product.description %></p>

<h3>Ce produit est composé de ces autres produits:</h3>

<div id="component_list">
<%= render 'components/list' %>
</div>

<p><b>Prix de base du produit:</b> <%= @product.public_price %></p>

<hr/>

<div id="busy" style="float:right;display:none;"> Busy... </div>

<%= form_tag :action => 'new_component', :id => @product.id do %>
	<label for="product_field">Produit sélectionné:</label><div id='product_field'></div>
	<%= submit_tag 'Ajouter une ligne produit' -%>
<% end -%>

<br/>

<label for="ssid">Catégories:</label>
<select id="ssid" name="ssid">
<option value="0" selected="selected">&nbsp;</option>
<%= options_from_collection_for_select( @categories, 'id', 'name' ) %>
</select>

<div id="browse_menu2"/>
